* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica;
}

.content-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 4rem 1rem 4rem;
  box-shadow: 0 5px 10px #ddd;
  background-color: lightgrey;
  border-bottom: solid black 5px;
}
#nav-title {
  color: #000;
  margin-right: auto;
  text-decoration: 2px underline;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}
header a:hover {
  color: #96c5c1;
}
.main-div {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.btn-main {
  width: 180px;
  height: 80px;
  border: none;
  border: solid 2px rgb(255, 255, 255);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  background: hsla(9, 100%, 65%, 0.5);
  font-size: 25px;
  transition-duration: 0.8s;
}

.btn-main:hover {
  background: hsla(9, 100%, 65%, 1);
  color: black;
  cursor: pointer;
}
.footer-div {
  margin-top: auto;
  height: 50px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
