* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family: Arial, Helvetica;
}

.content-div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.header-div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 4rem 1rem 4rem;
  box-shadow: 0 5px 10px #ddd;
  background-color: lightgrey;
  border-bottom: solid black 5px;
}
#nav-title {
  color: #000;
  margin-right: auto;
  text-decoration: 2px underline;
}
header li {
  list-style: none;
  display: inline-block;
  padding: 0 20px;
  font-size: 1.5rem;
}
header a {
  text-decoration: none;
  color: #555;
  transition: all 0.3s ease 0s;
}
header a:hover {
  color: #96c5c1;
}
main {
  flex-grow: 1;
}
.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
.btn-main {
  width: 180px;
  height: 80px;
  border: none;
  border: solid 2px rgb(255, 255, 255);
  color: white;
  font-weight: bolder;
  border-radius: 5px;
  background: hsla(9, 100%, 65%, 0.5);
  font-size: 25px;
  transition-duration: 0.8s;
}

.btn-main:hover {
  background: hsla(9, 100%, 65%, 1);
  color: black;
  cursor: pointer;
}
.footer-div {
  margin-top: auto;
  height: 50px;
  color: #fff;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.menu-title {
  color: white;
  text-decoration: underline;
  padding: 1rem;
}
.menu-div {
  min-height: 70vh;
  border: solid hsla(0, 100%, 55%, 0.8) 0.8rem;
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 6rem;
  border-radius: 4%;
}
.menu-item {
  border: solid white 1px;
  border-radius: 5%;
  background: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
.item-title {
  font-size: 1.5rem;
  text-decoration: underline;
  padding-bottom: 1rem;
}
.item-content {
  font-size: 1rem;
}
.main-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.contact-wrapper {
  min-height: 65vh;
  max-width: 70vw;
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: white;
}
.form-wrapper {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 25px;
}
form {
  flex-grow: 1;
  margin: 5px;
}
#form-intro {
  padding-bottom: 1.5rem;
}
input[type="text"],
select,
textarea,
input[type="email"],
input[type="tel"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #e21339;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #be1635;
}

.contact-info {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  background-color: #d21033;
  color: white;
  border-radius: 5px;
}
.contact-title {
  font-size: 2rem;
}
.tel-title,
.adress-title {
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
